<div class="container">
  <div class="content">

    <div class="row d-flex justify-content-end">
      <div class="dropdown" *ngIf="showLangBtn">
        <button class="btn save-btn btn-sm dropdown-toggle text-light" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <fa-icon [icon]="faGlobe"></fa-icon>&nbsp;&nbsp;{{ langEng ? 'En' : 'Ar'}}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item btn" (click)="switchToEnglish(true)">English</a>
          <a class="dropdown-item btn" (click)="switchToEnglish(false)">Arabic</a>
        </div>
      </div>
    </div>

    <div class="row mb-4 mt-4 justify-content-center">
      <h3 *ngIf="langEng">Welcome to My Umoumah Workbook!</h3>
      <h3 *ngIf="!langEng" dir="rtl">مرحبا بكم في كراسة الأنشطة الخاصة بأمومة!</h3>
    </div>

    <div class="row justify-content-center">
      <div class="col-10 justify-content-center">

        <!-- save page btns -->
        <div class="d-flex justify-content-end" style="width: 80%; margin: 0 auto;">

          <div *ngIf="page === 0">
            <button class="btn btn-lang btn-sm text-light" (click)="savePageAsJPEG(false)">
              <svg *ngIf="saving === 'page'" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="spinner" role="img"
                   xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                   class="svg-inline--fa fa-save fa-w-16 fa-spin">
                <path fill="#fffff0"
                      d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48z
                     m-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z
                     m208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z
                     M96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48z
                     m12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48z
                     m294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48z
                     M108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"></path></svg>
              <fa-icon *ngIf="saving !== 'page'" [icon]="faSave"></fa-icon>&nbsp;&nbsp;SAVE PAGE
            </button>
          </div>
          <div *ngIf="(page > 0) && (page < 5)">
            <button class="btn btn-lang btn-sm dropdown-toggle text-light" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              <svg *ngIf="saving === 'page'" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="spinner" role="img"
                   xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                   class="svg-inline--fa fa-save fa-w-16 fa-spin">
                <path fill="#fffff0"
                      d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48z
                     m-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z
                     m208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z
                     M96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48z
                     m12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48z
                     m294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48z
                     M108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"></path></svg>
              <fa-icon *ngIf="saving !== 'page'" [icon]="faSave"></fa-icon>&nbsp;&nbsp;SAVE PAGE
            </button>
            <div class="dropdown-menu">
              <a *ngIf="(page > 0) && (page < 5)" class="dropdown-item btn"
                 (click)="savePageAsJPEG(true)">With drawings</a>
              <a class="dropdown-item btn" (click)="savePageAsJPEG(false)">Without drawings</a>
            </div>
          </div>

        </div>

        <div class="canvas-wrapper">

        <div *ngIf="(page > 0) && (page < 5)" class="color-picker-wrapper text-center">

          <!-- color picker btn -->
          <label for="colorPicker" class="btn btn-link color-picker-btn mb-2"
                 title="pick a color" [style.background-color]="colorPicker.value">
            <input type="color" #colorPicker id="colorPicker" value="#173E36"
                   style="opacity: 0;" (change)="pickColor(colorPicker.value)">
          </label>

          <!-- pen btn -->
          <div class="d-block pt-1">
            <button class="btn btn-link p-0 mb-0" (click)="pickTool('pen', 1)">
              <fa-icon class="fa-lg eraser-btn link-hover" [icon]="faPen"
                       [ngClass]="{'highlight' : tool === 'pen'}"></fa-icon>
            </button>
          </div>

          <!-- paint brush btn -->
          <div class="d-block pt-1">
            <button class="btn btn-link p-0 mb-0" (click)="pickTool('paintBrush', 5)">
              <fa-icon class="fa-lg eraser-btn link-hover" [icon]="faPaintBrush"
                       [ngClass]="{'highlight' : tool === 'paintBrush'}"></fa-icon>
            </button>
          </div>

          <!-- paint roller btn -->
          <div class="d-block pt-1">
            <button class="btn btn-link p-0 mb-0" (click)="pickTool('paintRoller', 10)">
              <fa-icon class="fa-lg eraser-btn link-hover" [icon]="faPaintRoller"
                       [ngClass]="{'highlight' : tool === 'paintRoller'}"></fa-icon>
            </button>
          </div>

          <!-- eraser btn -->
          <div class="d-block pt-1">
            <button class="btn btn-link p-0 mb-0" (click)="pickEraser()">
              <fa-icon class="fa-lg eraser-btn link-hover" [icon]="faEraser"
                       [ngClass]="{'highlight' : mode === 'erase'}"></fa-icon>
            </button>
          </div>

          <!-- clear canvas -->
          <div class="d-block pt-1">
            <button class="btn btn-link p-0 mb-0" (click)="clearCanvas()">
              <fa-icon class="fa-lg trash-btn link-hover" [icon]="faTrash"
                       [class.highlight]="mode === 'clear'"></fa-icon>
            </button>
          </div>

        </div>

          <!-- page navigation -->
          <div class="position-absolute d-flex justify-content-between" style="width: inherit">
            <button class="btn btn-link nav-links link-hover" title="previous page"
                    (click)="previousPage()" [class.no-display]="page === 0">
              <fa-icon [icon]="faLessThan"></fa-icon>
              <fa-icon [icon]="faLessThan"></fa-icon>
            </button>

            <button class="btn btn-link nav-links link-hover next-btn" title="next page"
                    (click)="nextPage()" [hidden]="page === 5">
              <fa-icon [icon]="faGreaterThan"></fa-icon>
              <fa-icon [icon]="faGreaterThan"></fa-icon>
            </button>

          </div>
          <!--cover-->
          <canvas id="canvasCover" #canvasCover [hidden]="page !== 0"
                  [ngClass]="{'myBG-cover-en' : langEng, 'myBG-cover-ar': !langEng}"></canvas>
          <!--page 1-->
          <canvas id="canvasP1" #canvasP1 [hidden]="page !== 1"
                  [ngClass]="{'myBG-p1-en' : langEng, 'myBG-p1-ar': !langEng}"></canvas>
          <!--page 2-->
          <canvas id="canvasP2" #canvasP2 [hidden]="page !== 2"
                  [ngClass]="{'myBG-p2-en' : langEng, 'myBG-p2-ar': !langEng}"></canvas>
          <!--page 3-->
          <canvas id="canvasP3" #canvasP3 [hidden]="page !== 3"
                  [ngClass]="{'myBG-p3-en' : langEng, 'myBG-p3-ar': !langEng}"></canvas>
          <!--page 4-->
          <canvas id="canvasP4" #canvasP4 [hidden]="page !== 4"
                  [ngClass]="{'myBG-p4-en' : langEng, 'myBG-p4-ar': !langEng}"></canvas>

          <!-- final page -->
          <div *ngIf="page === 5" class="text-center congrats-div">
            <div class="w-100" style="color: #173E36;">
              <div *ngIf="langEng" class="jumbotron">
                <h3>Congratulations !!</h3>
                <div class="lead">
                  You can now save your workbook as PDF and show it to your friends !
                </div>
              </div>
              <div *ngIf="!langEng" class="jumbotron" dir="rtl">
                <h3>تهانينا!!</h3>
                <div class="lead">
                  الآن يمكنك حفظ كراسة الأنشطة الخاصة بك ومشاركتها مع أصدقائك!
                </div>
              </div>
              <div class="mt-5">
                <div *ngIf="langEng" class="lead text-uppercase">Save your workbook</div>
                <div *ngIf="!langEng" class="lead text-uppercase" dir="rtl">احفظ كراسة الأنشطة</div>
                <div>
                  <p *ngIf="langEng">Save the workbook with your drawings</p>
                  <p *ngIf="!langEng" dir="rtl">احفظ كراسة الأنشطة الخاصة بك مع رسومك</p>
                </div>
                <div class="d-flex justify-content-center">
                  <div>
                    <button class="btn save-pdf-btn mr-4" (click)="saveWorkbookAsPDF(true)">
                      <span *ngIf="!langEng" dir="rtl">&nbsp;&nbsp;كملف PDF</span>
                      <svg *ngIf="saving === 'pdfWith'" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="spinner" role="img"
                           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                           class="svg-inline--fa fa-save fa-w-16 fa-spin">
                        <path fill="#fffff0"
                              d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48z
                     m-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z
                     m208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z
                     M96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48z
                     m12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48z
                     m294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48z
                     M108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"></path></svg>
                      <fa-icon *ngIf="saving !== 'pdfWith'" [icon]="faDownload"></fa-icon>
                      <span *ngIf="langEng">&nbsp;&nbsp;As PDF</span></button>
                  </div>
                  <div class="">
                    <button class="btn save-btn" (click)="saveWorkbookAsJPEG(true)">
                      <span *ngIf="!langEng" dir="rtl">&nbsp;&nbsp;كصورة JPEG</span>
                      <svg *ngIf="saving === 'jpegWith'" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="spinner" role="img"
                           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                           class="svg-inline--fa fa-save fa-w-16 fa-spin">
                        <path fill="#fffff0"
                              d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48z
                     m-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z
                     m208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z
                     M96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48z
                     m12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48z
                     m294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48z
                     M108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"></path></svg>
                      <fa-icon *ngIf="saving !== 'jpegWith'" [icon]="faDownload"></fa-icon>
                      <span *ngIf="langEng">&nbsp;&nbsp;As JPEG images</span></button>
                  </div>
                </div>
              </div>

              <div class="mt-5">
                <div *ngIf="langEng" class="lead text-uppercase">Save the original workbook</div>
                <div *ngIf="!langEng" class="lead text-uppercase" dir="rtl">احفظ كراسة الأنشطة الأصلية</div>
                <div>
                  <p *ngIf="langEng">Save the original workbook to draw again later</p>
                  <p *ngIf="!langEng" dir="rtl">احفظ نسخة من كراسة الأنشطة الأصلية لكي ترسم لاحقاً</p>
                </div>
                <div class="d-flex justify-content-center">
                  <div>
                    <button class="btn save-pdf-btn mr-4" (click)="saveWorkbookAsPDF(false)">
                      <span *ngIf="!langEng" dir="rtl">&nbsp;&nbsp;كملف PDF</span>
                      <svg *ngIf="saving === 'pdfWithout'" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="spinner" role="img"
                           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                           class="svg-inline--fa fa-save fa-w-16 fa-spin">
                        <path fill="#fffff0"
                              d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48z
                     m-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z
                     m208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z
                     M96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48z
                     m12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48z
                     m294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48z
                     M108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"></path></svg>
                      <fa-icon *ngIf="saving !== 'pdfWithout'" [icon]="faDownload"></fa-icon>
                      <span *ngIf="langEng">&nbsp;&nbsp;As PDF</span></button>
                  </div>
                  <div class="">
                    <button class="btn save-btn" (click)="saveWorkbookAsJPEG(false)">
                      <span *ngIf="!langEng" dir="rtl">&nbsp;&nbsp;كصورة JPEG</span>
                      <svg *ngIf="saving === 'jpegWithout'" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="spinner" role="img"
                           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                           class="svg-inline--fa fa-save fa-w-16 fa-spin">
                        <path fill="#fffff0"
                              d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48z
                     m-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z
                     m208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z
                     M96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48z
                     m12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48z
                     m294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48z
                     M108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"></path></svg>
                      <fa-icon *ngIf="saving !== 'jpegWithout'" [icon]="faDownload"></fa-icon>
                      <span *ngIf="langEng">&nbsp;&nbsp;As JPEG images</span></button>
                  </div>
                </div>
              </div>

            </div>
          </div>


        </div>

      </div>


    </div>

    <!-- raining shapes -->
    <!-- 30 svg shapes, split in 6 groups -->
    <!-- used 6 booleans to manage display delays and 6 transition delays to animate a fall from top 0 to top 100% -->
    <div [hidden]="page !== 5" class="w-100 h-100">

        <div [hidden]="!showShapes1" [@shapeAnimateGr1]="showShapes1 ? 'open' : 'closed'" class="shape-initial-position pos-1" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh30" fill-rule="evenodd" clip-rule="evenodd" fill="#C5A660" d="M10.594,20c1.2,0.08,2.4,0.16,3.6,0.24
                c4.523,1.712,12.988,11.454,10.32,18.72c-1.582,4.308-5.945,5.698-8.88,8.64c-5.584,0.049-13.25-4.373-14.64-8.4
                c-0.553-1.601-0.24-4.042-0.24-6c0-2.03-0.132-4.055,0.48-5.52c1.029-2.464,3.454-6.01,6-6.96
                C8.344,20.305,9.673,20.567,10.594,20z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes2" [@shapeAnimateGr1]="showShapes2 ? 'open' : 'closed'" class="shape-initial-position pos-1" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh25" fill-rule="evenodd" clip-rule="evenodd" fill="#B59891"
                  d="M131.074,20c0.88,0.16,1.76,0.32,2.64,0.48
                  c3.443,1.441,6.01,4.408,8.88,6.48c3.063,2.211,6.102,4.208,9.12,6.48c0.72,0.959,1.44,1.92,2.16,2.88
                  c2.824,2.217,5.783,4.42,8.64,6.48c2.971,2.143,9.042,4.874,9.12,9.6c-3.962,4.525-9.824,6.375-15.12,9.6
                  c-8.792,5.353-18.334,9.998-27.12,15.36c-2.054,1.254-4.184,1.869-6.24,3.12c-3.007,1.831-6.243,3.385-9.36,5.28
                  c-2.304,1.401-3.959,3.091-7.68,3.12c-0.401-0.336-1.02-0.376-1.44-0.72c-0.396-0.324-0.583-1.073-0.96-1.44
                  c-0.104-3.035,0.867-4.302,1.68-6.24c1.482-3.532,2.656-6.994,4.08-10.32c4.891-11.425,8.888-23.079,13.68-34.32
                  C125.473,30.4,126.786,23.509,131.074,20z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes3" [@shapeAnimateGr1]="showShapes3 ? 'open' : 'closed'" class="shape-initial-position pos-1" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh19" fill-rule="evenodd" clip-rule="evenodd" fill="#B1BFAF"
                  d="M291.634,30c-0.77-3.585-0.478-6.592-1.68-9.6
                  c-2.794-6.992-8.473-11.888-14.4-15.84c-3.821-2.548-6.867-5.119-13.44-5.04c-0.863,0.536-2.221,0.184-3.36,0.48
                  c-3.865,1.004-9.332,0.795-12.96,2.4c-2.099,0.929-4.174,3.259-5.52,5.04c-3.511,4.643-8.128,8.633-10.56,14.4
                  c-1.161,2.753-0.685,5.67-1.44,9.12c-0.479,2.188-1.329,11.203-0.72,13.68c0.732,2.978,2.788,5.015,4.32,7.2
                  c5.509,7.856,7.004,10.571,17.28,13.92c3.045,0.993,11.315,3.129,15.84,2.16c2.616-0.56,5.513-0.461,7.68-1.44
                  c2.897-1.309,5.587-4.271,7.44-6.72c0.778-1.028,2.107-1.836,2.88-2.88c3.484-4.706,6.916-9.648,8.64-16.08
                  C292.477,37.659,292.293,33.067,291.634,30z M267.395,57.36c-6.93,2.552-17.59,0.304-22.32-2.64
                  c-2.761-1.719-7.708-7.627-8.64-11.04c-0.505-1.851,0.078-9.7,0.48-11.28c1.12-4.404,3.158-8.148,5.04-11.76
                  c0.835-1.603,1.483-3.773,2.88-4.8c2.447-1.799,5.315-2.901,7.68-4.8c13.542-0.078,21.851,2.02,27.12,10.08
                  c1.215,1.859,2.005,4.424,2.64,6.72C286.253,42.234,276.866,53.872,267.395,57.36z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes4" [@shapeAnimateGr1]="showShapes4 ? 'open' : 'closed'" class="shape-initial-position pos-1" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh14" fill-rule="evenodd" clip-rule="evenodd" fill="#BF8F68"
                  d="M397.235,20c15.675-0.21,24.11,3.332,30.72,12.24
                  c2.689,3.625,6.592,7.995,2.64,13.44c-4.046,5.576-13.44,5.162-21.36,6.96c-1.96,0.445-6.963,1.555-9.36,0.96
                  c-5.527-1.374-12.181-6.218-15.12-10.32c-1.641-2.29-5.977-7.56-4.8-11.52c1.756-5.913,8.067-8.616,13.44-10.8
                  C394.556,20.488,396.208,20.657,397.235,20z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes5" [@shapeAnimateGr1]="showShapes5 ? 'open' : 'closed'" class="shape-initial-position pos-1" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh07" fill-rule="evenodd" clip-rule="evenodd" fill="#BF8F68"
                  d="M507.395,20c9.78-0.145,17.767,1.698,25.44,3.84
                  c4.838,1.351,9.89,1.738,13.44,4.32c4.442,3.23,7.25,9.048,10.32,13.68c3.253,4.908,6.463,18.212,2.16,24
                  c-0.927,1.248-3.1,3.205-4.56,3.84c-1.845,0.803-3.815,0.46-6,0.96c-4.542,1.038-13.11,1.918-17.76,0.24
                  c-7.025-2.536-12.911-6.165-18.48-10.08c-1.906-1.34-4.142-2.481-5.52-4.32c-3.003-4.006-5.011-8.286-6.96-13.44
                  c-1.667-4.407-4.616-12.412-1.44-17.28c1.423-2.182,4.159-4.013,6.72-5.04
                  C505.66,20.357,506.681,20.497,507.395,20z"/>
          </svg>
        </div>

        <div [hidden]="!showShapes6" [@shapeAnimateGr2]="showShapes6 ? 'open' : 'closed'" class="shape-initial-position pos-2" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh28" fill-rule="evenodd" clip-rule="evenodd" fill="#899F9B"
                  d="M89.314,20c1.566-0.029,2.503,0.215,3.6,0.48
                  c1.009,1.541,2.079,2.922,2.64,5.04c0.24,4.399,0.48,8.8,0.72,13.2c0,1.6,0,3.2,0,4.8c0.48,11.839,0.96,23.681,1.44,35.52
                  c0.16,4.479,0.32,8.96,0.48,13.44c0.004,2.78,0.019,5.435-1.92,6.24c-1.162,1.353-5.607,1.24-7.92,0.72
                  c-6.364-1.43-13.788-0.979-20.16-2.4c-1.52-0.08-3.04-0.16-4.56-0.24c-5.192-1.154-11.344-0.774-16.56-1.92
                  c-4.097-0.9-7.94-0.039-10.8-1.92c-2.359-1.552-2.918-4.378-4.08-7.2c-1.773-4.306-3.375-8.785-5.28-13.2
                  c-1.535-3.556-2.978-7.298-4.56-11.04c-0.509-1.205-1.777-3.138-1.2-5.28c0.752-2.791,3.395-3.571,5.76-4.8
                  c3.87-2.011,7.772-3.928,11.76-6c11.353-5.899,22.964-11.846,34.32-17.76c4.133-2.152,8.186-4.159,12.24-6.24
                  C86.594,20.96,87.954,20.48,89.314,20z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes1" [@shapeAnimateGr2]="showShapes1 ? 'open' : 'closed'" class="shape-initial-position pos-2" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh22" fill-rule="evenodd" clip-rule="evenodd" fill="#80846F"
                  d="M169.714,20c5.275-0.053,12.226,6.691,15.84,9.12
                  c2.01,1.351,4.807,2.185,5.52,4.8c0.362,1.326-0.205,6.186-0.48,7.44c-0.16,3.52-0.32,7.041-0.48,10.56
                  c-0.739,2.6-7.804,8.122-10.08,9.84c-1.96,1.48-3.084,4.304-5.76,5.04c-3.048,0.839-6.676-0.855-8.88-1.44
                  c-3.01-0.799-6.26-0.499-8.64-1.92c-1.677-1.001-2.482-2.97-3.6-4.56c-2.218-3.155-7.713-8.717-8.64-12.48
                  c-0.554-2.25,0.891-3.974,1.44-5.28c1.669-3.969,2.233-9.02,4.56-12.48c1.043-1.552,2.674-1.608,4.56-2.4
                  c3.474-1.458,7.354-3.311,10.8-4.8C167.161,20.884,168.63,20.776,169.714,20z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes2" [@shapeAnimateGr2]="showShapes2 ? 'open' : 'closed'" class="shape-initial-position pos-2" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh15" fill-rule="evenodd" clip-rule="evenodd" fill="#3E4425"
                  d="M398.915,30c-2.881,0.111-7.35-1.98-11.04-0.72
                  c-6.665,2.276-13.726,15.737-8.88,24.96c1.278,2.433,4.383,3.92,6.96,5.04c1.613,0.701,4.53,0.859,5.04,2.64
                  c-3.226,1.931-6.484,4.235-10.56,5.28c-3.343,0.857-13.82,0.455-17.04-0.24c-1.12,0-2.24,0-3.36,0
                  c-5.126-1.122-10.587-0.996-14.88-2.88c-7.814-3.43-15.607-15.591-12.72-28.8c0.617-2.821,0.158-5.196,0.96-7.68
                  c2.159-6.685,11.605-17.788,18.24-19.92c2.225-0.715,4.738-0.935,6.96-1.44c4.692-1.066,11.159-0.097,14.64,0.96
                  c11.068,3.359,14.838,4.95,20.64,13.68C395.523,23.361,398.728,26.362,398.915,30z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes3" [@shapeAnimateGr2]="showShapes3 ? 'open' : 'closed'" class="shape-initial-position pos-2" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh09" fill-rule="evenodd" clip-rule="evenodd" fill="#C08F69"
                  d="M609.155,30c-1.044-3.071-4.448-4.949-6.24-7.44
                  c-3.362-4.674-7.008-9.072-10.32-13.68c-1.562-2.173-2.889-4.883-4.8-6.72c-2.404-2.312-7.735-1.458-11.52-2.4
                  c-7.368-1.833-17.573-2.359-23.76-3.6c-1.153,0.8-2.746,0.884-3.84,1.68c-2.297,1.67-4.057,5.143-5.76,7.44
                  c-3.613,4.872-7.871,9.202-11.52,14.16c-2.552,3.467-6.517,6.555-7.68,11.28c-0.407,1.653,0.577,3.509,0.96,4.56
                  c1.244,3.411,2.178,6.838,3.36,10.08c1.88,5.155,3.388,10.843,5.04,15.84c0.885,2.676,0.832,5.092,2.4,6.96
                  c1.029,1.226,2.9,1.532,4.32,2.4c3.985,2.435,8.822,3.949,13.2,6.24c2.508,1.313,5.445,2.326,7.92,3.84
                  c1.661,1.017,4.296,3.061,7.68,2.16c3.281-0.874,5.822-2.959,8.4-4.56c4.643-2.883,9.362-5.569,13.92-8.4
                  c3.604-2.238,8.087-3.854,10.32-7.44c2.581-4.145,2.887-9.902,4.56-14.88
                  C607.077,43.706,610.981,35.371,609.155,30z M555.395,39.12
                  c-0.8,0.343-2.228,1.634-3.6,1.2c-1.348-0.426-1.218-2.21-1.68-3.6c-1.759-5.283-0.511-6.766,2.64-9.84
                  c3.108,0.051,6.257,2.509,8.4,3.84C561.675,36.031,559.251,37.467,555.395,39.12z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes4" [@shapeAnimateGr2]="showShapes4 ? 'open' : 'closed'" class="shape-initial-position pos-2" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh04" fill-rule="evenodd" clip-rule="evenodd" fill="#BF8F68"
                  d="M656.915,20c5.554-0.096,13.955,3.491,15.6,7.2
                  c0.539,1.214,1.721,3.431,1.2,5.52c-0.792,3.178-2.919,7.631-4.56,10.32c-3.749,6.142-13.169,11.559-20.88,13.68
                  c-6.75,1.856-18.851-1.595-22.08-4.32c-2.339-1.973-2.809-7.575-1.2-10.8c2.79-5.592,8.226-9.907,12.48-14.16
                  c2.026-2.025,4.18-4.819,6.96-6c1.875-0.797,4.576-1.15,6.96-1.2C652.959,20.207,655.822,20.664,656.915,20z"/>
          </svg>
        </div>

        <div [hidden]="!showShapes5" [@shapeAnimateGr3]="showShapes5 ? 'open' : 'closed'" class="shape-initial-position pos-3" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh27" fill-rule="evenodd" clip-rule="evenodd" fill="#BF8F68"
                  d="M76.114,20c1.448-0.022,3.2-0.202,4.32,0.24
                  c4.394,1.734,12.724,11.542,10.08,18.72c-1.157,3.141-7.123,8.305-10.56,9.12c-1.728,0.409-3.789-0.584-5.04-0.96
                  c-5.872-1.764-8.162-6.01-8.16-13.68c0-2.087-0.132-4.132,0.48-5.76c0.799-2.125,2.966-5.308,4.8-6.48
                  C73.394,20.799,74.754,20.4,76.114,20z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes6" [@shapeAnimateGr3]="showShapes6 ? 'open' : 'closed'" class="shape-initial-position pos-3" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh21" fill-rule="evenodd" clip-rule="evenodd" fill="#C5A660"
                  d="M237.875,20c10.355-0.029,12.217,4.197,16.08,10.56
                  c0.965,1.591,2.109,3.484,2.64,5.52c0.24,5.199,0.48,10.4,0.72,15.6c0.478,2.156-0.056,4.76,0.48,7.2
                  c0.9,4.096,0.317,11.458-0.96,16.32c-1.909,7.269-3.278,14.541-6,21.12c-2.481,5.996-5.391,12.044-7.92,17.76
                  c-1.198,2.707-2.082,5.272-3.6,7.68c-2.973,4.714-7.042,8.614-10.32,12.96c-5.687,7.538-12.581,14.021-19.2,20.64
                  c-5.792,5.792-13.74,9.748-22.8,12.24c-4.414,1.214-12.469,0.458-15.6-1.2c-7.273-3.852-7.597-23.136-2.64-30.24
                  c2.746-3.936,6.118-7.595,8.88-11.52c7.116-10.112,12.892-21.009,19.44-31.68c2.696-4.393,5.767-9.042,7.92-13.92
                  c4.433-10.043,8.137-20.508,12.48-30.48c2.112-4.848,3.311-10.064,6-14.4c1.185-1.91,3.003-3.514,4.32-5.28
                  c1.447-1.939,4.892-6.696,6.72-7.92C235.407,20.362,236.922,20.589,237.875,20z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes1" [@shapeAnimateGr3]="showShapes1 ? 'open' : 'closed'" class="shape-initial-position pos-3" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh16" fill-rule="evenodd" clip-rule="evenodd" fill="#B1BFAF"
                  d="M344.195,30c4.659-0.051,7.924,1.98,11.04,3.6
                  c2.781,1.445,5.511,2.527,7.92,4.32c2.792,2.078,9.601,12.586,10.8,16.32c1.055,3.288-0.896,11.208-1.68,14.16
                  c-0.905,3.411-0.907,6.62-2.16,9.6c-2.778,6.606-6.878,11.342-12.24,15.36c-0.871,0.653-1.639,1.891-2.64,2.4
                  c-1.527,0.776-4.355,0.832-6,1.2c-4.983,1.116-13.423-1.769-16.8-2.88c-5.268-1.733-10.547-2.821-14.88-5.52
                  c-5.354-3.334-11.778-12.752-9.6-22.8c0-1.2,0-2.4,0-3.6c0.814-3.759,0.631-7.102,1.92-10.08c3.34-7.718,10.306-11.293,16.8-15.84
                  c2.442-1.709,5.094-4.353,7.92-5.52C336.739,29.835,342.41,31.097,344.195,30z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes2" [@shapeAnimateGr3]="showShapes2 ? 'open' : 'closed'" class="shape-initial-position pos-3" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh12" fill-rule="evenodd" clip-rule="evenodd" fill="#899F9B"
                  d="M482.675,20c6.574-0.082,14.617-0.787,20.4,0.48
                  c2.419,0.53,4.894-0.14,6.96,0.72c1.085,0.451,1.625,1.405,2.4,2.16c0.311,4.09-2.447,7.649-4.08,10.8
                  c-3.838,7.403-7.233,15.459-10.56,23.04c-1.741,3.967-2.79,8.1-6.96,9.6c-2.007,0.722-5.48,0.24-7.92,0.24
                  c-4.615,0-14.703,1.861-18.24-0.24c-2.774-1.647-3.737-5.506-4.56-9.12c-0.08-1.84-0.16-3.68-0.24-5.52
                  c-0.68-3.027-3.26-12.392-2.16-15.36c1.179-3.184,4.254-4.3,6.96-6c4.632-2.911,9.274-6.254,13.92-9.12
                  C479.801,20.936,481.566,20.864,482.675,20z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes3" [@shapeAnimateGr3]="showShapes3 ? 'open' : 'closed'" class="shape-initial-position pos-3" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh02" fill-rule="evenodd" clip-rule="evenodd" fill="#E7D4C5"
                  d="M656.915,30c2.217-0.013,4.251-0.051,5.76,0.72
                  c2.775,1.418,4.485,4.699,6.24,7.2c3.065,4.367,6.746,8.659,8.88,13.92c0.904,2.229,0.84,4.379,1.44,6.96
                  c0.5,2.149,0.811,5.443,0.24,7.92c-1.632,7.08-3.18,13.988-5.28,20.4c-0.32,1.52-0.64,3.04-0.96,4.56
                  c-1.038,2.746-3.43,4.964-5.04,7.2c-4.041,5.61-7.916,11.204-14.64,14.16c-6.718,2.954-13.558,5.726-22.32,2.88
                  c-6.626-2.152-10.842-6.238-13.44-12.48c-0.719-1.728-2.017-4.462-1.2-6.96c1.007-3.08,4.251-6.673,6.72-8.4
                  c2.382-1.666,7.506-0.846,10.56-1.68c7.928-2.165,11.743-6.349,14.64-13.44c3.253-7.96,0.378-20.641,2.4-30
                  c0.802-3.711-0.182-7.363,1.44-10.08C653.421,31.094,655.23,31.179,656.915,30z"/>
          </svg>
        </div>

        <div [hidden]="!showShapes4" [@shapeAnimateGr4]="showShapes4 ? 'open' : 'closed'" class="shape-initial-position pos-4" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh29" fill-rule="evenodd" clip-rule="evenodd" fill="#B1BFAF"
                  d="M43.714,30c7.902-0.132,16.306,4.516,20.88,7.92
                  c2.529,1.882,4.233,5.494,6,8.16c1.702,2.567,3.975,5.282,4.8,8.64c0.836,3.402-1.22,11.767-1.92,14.4
                  c-0.614,2.309-0.489,4.305-1.2,6.48c-2.012,6.15-5.393,11.585-10.08,15.12c-2.005,1.512-3.719,4.389-6.24,5.28
                  c-1.784,0.63-4.069,0.587-5.76,0.96c-4.671,1.028-13.085-1.825-16.32-2.88c-11.013-3.591-16.149-4.457-21.84-13.68
                  c-1.068-1.731-2.323-3.76-2.88-6c-0.617-2.482-0.01-4.713,0-7.2c0.08-2.08,0.16-4.16,0.24-6.24c0.743-3.43,0.733-6.377,1.92-9.12
                  c3.125-7.218,9.527-10.628,15.6-14.88c2.751-1.926,5.768-4.867,8.88-6.24
                  C37.63,29.91,41.905,31.112,43.714,30z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes5" [@shapeAnimateGr4]="showShapes5 ? 'open' : 'closed'" class="shape-initial-position pos-4" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh23" fill-rule="evenodd" clip-rule="evenodd" fill="#BF8F68"
                  d="M233.794,20c1.736,0.199,1.955,0.993,2.88,1.92
                  c0.08,1.37,0.547,3.232,0,4.56c-0.854,2.072-3.324,3.515-5.04,4.8c-2.539,1.902-4.928,4.263-7.68,6
                  c-2.499,1.578-5.119,2.523-7.68,4.08c-6.464,3.928-13.821,7.302-21.12,10.32c-3.383,1.399-6.667,1.96-10.08,3.36
                  c-6.58,2.7-13.757,5.19-20.88,7.2c-7.592,2.143-15.943,1.901-23.76,3.84c-5.177,1.284-10.665,1.686-16.08,3.12
                  c-4.103,1.086-8.681,2.19-12.72,1.2c-0.901-1.369-1.985-2.141-2.16-4.32c0.265-0.333,0.358-0.69,0.48-1.2
                  c9.579-5.619,22.979-6.711,34.8-10.32c1.919-0.4,3.84-0.8,5.76-1.2c26.271-8.593,54.146-15.924,75.6-29.28
                  C228.557,22.56,231.462,21.726,233.794,20z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes6" [@shapeAnimateGr4]="showShapes6 ? 'open' : 'closed'" class="shape-initial-position pos-4" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh18" fill-rule="evenodd" clip-rule="evenodd" fill="#899F9B"
                  d="M244.834,20c2.897,0.004,7.31-0.118,10.08,0.48
                  c3.373,0.728,7.017-0.181,10.08,0.48c2.08,0,4.161,0,6.24,0c3.109,0.286,7.261,0.364,9.84,0.96c1.312,2.189,1.208,7.072,0.48,10.32
                  c-1.623,7.236-0.808,15.583-2.4,22.8c-0.752,3.411,0.545,9.458-2.4,10.561c-1.691,1.321-6.071,0.047-8.4,0
                  c-4.184-0.085-9.275-0.339-13.2-1.2c-3.001-0.659-6.136-0.118-8.88-0.72c-2.932-0.643-7.157,0.565-8.16-1.92
                  c-0.805-0.905-0.375-6.502,0-8.16c1.04-8.159,2.08-16.321,3.12-24.48c0.646-2.869-0.297-7.415,2.16-8.4
                  C243.761,20.396,244.428,20.301,244.834,20z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes1" [@shapeAnimateGr4]="showShapes1 ? 'open' : 'closed'" class="shape-initial-position pos-4" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh13" fill-rule="evenodd" clip-rule="evenodd" fill="#A68D76"
                  d="M439.715,20c0.729,0.229,0.942-0.247,1.92,0.24
                  c1.953,0.973,5.502,7.282,6.96,9.36c2.404,3.426,7.054,7.687,8.16,12c0.57,2.222-1.205,8.88-1.68,10.8
                  c-0.656,2.652-0.124,5.721-1.44,7.68c-2.047,3.048-10.67,4.758-14.64,6.24c-1.831,0.684-8.529,3.956-10.56,3.6
                  c-3.594-0.629-7.17-3.175-10.32-4.56c-1.501-0.66-3.633-0.947-4.56-2.16c-2.106-2.757-3.237-8.476-4.56-12
                  c-0.649-1.729-3.517-6.817-2.88-9.12c0.509-1.84,2.339-2.959,3.36-4.32c1.996-2.659,4.293-5.063,6.24-7.68
                  c0.801-1.078,1.54-2.614,2.64-3.36c0.876-0.594,1.816-0.523,2.88-0.96c4.019-1.652,8.927-2.907,13.2-4.32
                  C436.152,20.873,438.309,20.948,439.715,20z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes2" [@shapeAnimateGr4]="showShapes2 ? 'open' : 'closed'" class="shape-initial-position pos-4" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh06" fill-rule="evenodd" clip-rule="evenodd" fill="#C5A660"
                  d="M635.075,30c-0.671-3.056-0.395-5.778-1.44-8.4
                  c-2.623-6.578-7.752-11.285-13.2-15.12c-3.87-2.725-7.235-5.838-13.92-5.76c-1.468,0.905-4.145,0.29-6,0.72
                  c-4.997,1.157-10.256,1.273-13.68,3.84c-1.612,1.209-3.097,3.173-4.32,4.8c-3.422,4.552-7.874,8.634-9.84,14.64
                  c-1.02,3.116-0.189,6.532-0.96,10.08c-0.52,2.397-1.134,9.839-0.24,12.24c0.935,2.51,3.321,4.852,4.8,6.96
                  c1.863,2.656,4.384,7.103,6.96,8.88c5.185,3.577,11.661,4.397,18.96,6c1.6,0,3.2,0,4.8,0c9.241-0.002,13.361-3.453,17.28-8.64
                  c0.709-0.939,1.938-1.69,2.64-2.64c3.321-4.488,6.455-9.282,8.16-15.36
                  C635.997,38.956,635.79,33.257,635.075,30z M608.195,59.04
                  c-4.004,1.059-9.448-0.051-12.48-0.96c-2.164-0.648-4.228-0.854-6-1.92c-4.044-2.433-8.382-7.315-9.6-12.48
                  c0.08-1.36,0.16-2.72,0.24-4.08c0.097-2.827-0.014-5.382,0.72-7.68c1.294-4.053,4.163-10.476,6.48-13.68
                  c1.167-1.614,5.4-4.185,7.2-5.28c1.124-0.684,3.333-0.213,4.56-0.96c12.121,0.241,19.843,3.886,24.48,11.52
                  c1.155,1.902,1.285,4.023,1.92,6.48C629.637,45.173,619.132,56.148,608.195,59.04z"/>
          </svg>
        </div>

        <div [hidden]="!showShapes3" [@shapeAnimateGr5]="showShapes3 ? 'open' : 'closed'" class="shape-initial-position pos-5" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh24" fill-rule="evenodd" clip-rule="evenodd" fill="#C9D2C7"
                  d="M217.714,60c-0.16-2.96-0.32-5.92-0.48-8.88
                  c-0.743-2.66-2.734-5.231-4.08-7.44c-2.902-4.763-5.162-9.572-8.4-13.92c-2.983-4.005-8.121-6.211-12.48-8.88
                  c-8.572-5.248-18.462-9.429-32.64-9.12c-0.829,0.523-2.313,0.162-3.36,0.48c-1.555,0.473-3.339,1.049-5.04,1.68
                  c-7.291,2.707-16.053,4.994-22.32,8.88c-4.85,3.007-6.373,8.772-9.36,13.68c-4.99,8.198-9.769,18.643-12.96,28.32
                  c-0.96,2.913-0.439,6.126-1.2,9.36c-0.664,2.822-2.122,12.232-1.2,15.84c0.614,2.404,2.073,4.461,3.12,6.48
                  c1.487,2.867,2.52,5.827,4.32,8.4c1.4,2.001,3.567,3.803,5.52,5.28c0.88,0.96,1.76,1.92,2.64,2.88
                  c1.947,1.472,3.572,3.085,5.52,4.56c5.199,3.935,8.641,8.894,15.12,11.76c4.857,2.148,9.807,3.909,15.36,5.76
                  c2.297,0.766,6.585,2.051,10.32,1.2c4.111-0.937,8.438-0.895,12-2.4c3.787-1.6,6.9-4.675,10.08-6.96
                  c3.729-2.679,8.585-5.979,11.28-9.6c2.325-3.123,3.667-6.641,5.76-10.08c4.746-7.795,8.732-16.819,11.76-26.16
                  C218.344,76.957,218.765,64.904,217.714,60z M180.514,74.161c-8.074,2.031-14.239-7.061-12-14.64
                  c0.878-2.971,2.981-5.64,5.52-6.96c0.744-0.387,1.532-0.289,2.16-0.72c5.855-0.112,10.255,2.097,12,6
                  C191.782,65.865,186.839,72.569,180.514,74.161z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes4" [@shapeAnimateGr5]="showShapes4 ? 'open' : 'closed'" class="shape-initial-position pos-5" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh20" fill-rule="evenodd" clip-rule="evenodd" fill="#E7D4C5"
                  d="M20.86,20c1.997-0.022,4.376-0.227,5.76,0.48
                  c1.368,0.699,4.678,5.374,4.08,7.92c-0.55,2.341-2.249,5.777-1.44,9.12c0.546,2.257,1.888,4.12,3.12,5.76
                  c1.862,2.479,4.835,3.469,7.92,4.8c5.701,2.459,12.805,4.611,17.04,8.64c0.115,1.486,0.426,3.014-0.24,4.32
                  c-1.237,2.425-3.882,2.691-6.72,3.6c-4.374,1.4-10.67,3.199-16.08,1.44c-4.833-1.572-8.255-4.798-12-7.44
                  c-1.636-1.154-4.006-2.096-5.28-3.6c-2.479-2.925-4.167-6.535-6-10.08c-1.649-3.188-3.196-11.011-1.2-15.6
                  c1.23-2.829,3.924-6.112,6.48-7.68C17.82,21.12,19.34,20.56,20.86,20z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes5" [@shapeAnimateGr5]="showShapes5 ? 'open' : 'closed'" class="shape-initial-position pos-5" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh11" fill-rule="evenodd" clip-rule="evenodd" fill="#B1BFAF"
                  d="M537.781,40c-0.794-3.641-0.666-6.607-1.92-9.6
                  c-2.705-6.458-8.119-11.172-13.68-14.88c-3.373-2.25-6.67-5.312-12.24-5.28c-1.704,1.047-8.735,0.84-11.28,1.44
                  c-1.809,0.426-4.429,0.453-6.24,1.2c-1.776,0.732-3.31,2.451-4.8,3.6c-1.107,0.854-2.028,2.466-2.88,3.6
                  c-3.384,4.502-7.774,8.588-9.6,14.64c-1.049,3.478-0.139,7.729-0.96,11.52c-0.417,1.923-0.728,8.755,0,10.56
                  c0.892,2.212,2.78,4.147,4.08,6c2.035,2.901,4.665,7.595,7.44,9.6c4.903,3.541,11.869,4.674,18.72,6.24c1.6,0,3.2,0,4.8,0
                  c9.024-0.001,13.434-3.317,17.28-8.4c0.712-0.941,1.929-1.68,2.64-2.64c3.473-4.691,6.854-9.459,8.64-15.84
                  C538.687,48.524,538.48,43.203,537.781,40z M511.861,68.56c-4.51,1.355-10.828,0.187-14.4-0.96
                  c-1.935-0.621-3.652-0.731-5.28-1.68c-4.206-2.452-10.925-9.436-9.36-16.8c0.08-1.92,0.16-3.84,0.24-5.76
                  c1.169-4.727,3.283-9.028,5.52-12.72c0.84-1.387,1.137-3.15,2.4-4.08c1.943-1.431,4.481-3.148,6.48-4.32c0.8-0.24,1.6-0.48,2.4-0.72
                  c12.652-0.07,21.388,2.889,26.16,10.56c1.086,1.745,1.818,4.137,2.4,6.24
                  C532.692,53.751,522.466,65.374,511.861,68.56z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes6" [@shapeAnimateGr5]="showShapes6 ? 'open' : 'closed'" class="shape-initial-position pos-5" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh10" fill-rule="evenodd" clip-rule="evenodd" fill="#686D55"
                  d="M266.165,20c25.582,4.096,45.072,17.233,60,32.16
                  c3.4,3.4,6.919,6.681,10.32,10.08c1.363,1.362,3.671,2.828,4.32,4.8c0.577,1.752,0.012,5.319-0.48,6.48
                  c-1.318,3.114-4.015,6.01-6,8.64c-6.16,8.16-23.977,2.344-31.44-0.72c-4.438-1.822-9.907-3.248-13.92-5.76
                  c-2.514-1.574-6.99-7.097-8.88-9.6c-2.372-3.14-5.784-5.703-8.16-8.88c-3.604-4.82-6.822-9.637-10.08-14.88
                  c-1.579-2.54-7.044-9.531-5.76-14.16c0.988-3.561,4.203-6.362,7.44-7.68
                  C264.274,20.176,265.528,20.392,266.165,20z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes1" [@shapeAnimateGr5]="showShapes1 ? 'open' : 'closed'" class="shape-initial-position pos-5" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh03" fill-rule="evenodd" clip-rule="evenodd" fill="#B1BFAF"
                  d="M638.195,20c1.353-0.007,2.624-0.007,3.6,0.48
                  c3.97,1.979,12.209,10.757,10.08,17.76c-1.083,3.562-6.75,8.869-10.32,9.84c-1.843,0.502-3.887-0.369-5.04-0.72
                  c-6.183-1.881-8.641-5.625-8.64-13.68c0-2.157-0.157-4.326,0.48-6c0.839-2.202,3.37-5.786,5.52-6.72
                  C635.315,20.639,636.755,20.32,638.195,20z"/>
          </svg>
        </div>

        <div [hidden]="!showShapes2" [@shapeAnimateGr6]="showShapes3 ? 'open' : 'closed'" class="shape-initial-position pos-6" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh26" fill-rule="evenodd" clip-rule="evenodd" fill="#999C8B"
                  d="M144.994,40c-1.813-7.638-5.68-17.855-11.04-21.84
                  c-5.461-4.06-21.513-5.131-31.44-5.04c-1.67,1.106-5.08,1.496-6.96,2.64c-7.552,4.594-13.289,10.274-16.08,19.68
                  c-1.341,4.518-0.613,10.657,0.48,14.64c1.795,6.544,2.746,12.575,6.24,17.28c2.528,3.404,7.877,5.401,12,7.2
                  c3.937,1.718,9.331,4.968,15.6,3.36c5.615-1.44,12.004-5.167,17.28-7.44c2.255-0.971,4.936-1.476,6.24-3.36
                  c3.137-4.531,6.51-10.793,7.92-16.8
                  C145.759,48.083,145.459,41.96,144.994,40z M105.394,46.96c-0.4,0.56-0.8,1.12-1.2,1.68
                  c-1.2,0.64-2.4,1.28-3.6,1.92c-2.644,0.01-6.817-2.52-7.44-4.32c-1.522-2.21,2.719-8.811,4.8-9.36
                  c0.205-0.159,0.753-0.324,0.96-0.48c2.734-0.009,4.916,0.154,6.72,0.96
                  C106.277,40.198,105.626,43.827,105.394,46.96z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes3" [@shapeAnimateGr6]="showShapes3 ? 'open' : 'closed'" class="shape-initial-position pos-6" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh17" fill-rule="evenodd" clip-rule="evenodd" fill="#B59891"
                  d="M290.915,20c1.781-0.079,2.921,0.166,3.36,1.44
                  c1.649,2.123,0.295,6.161,0.96,9.36c0.631,3.037,0.416,9.467-0.24,12.48c-0.676,3.107,0.141,6.508-0.48,9.36
                  c-0.08,4.319-0.16,8.64-0.24,12.96c0,1.595,0.353,4.101-0.24,5.28c-0.732,1.456-2.561,2.4-3.84,3.36
                  c-2.569,1.929-5.071,6.063-8.4,6.96c-2.526,0.68-7.952-2.388-9.84-3.12c-6.112-2.37-12.341-4.305-18.24-6.72
                  c-5.064-2.073-8.588-2.106-12.24-5.76c0.066-4.769,8.077-9.845,11.04-12.48c8.258-7.345,16.078-15.394,24.96-22.08
                  c2.208-1.663,4.031-4.098,6.24-5.76C286.034,23.536,288.691,21.876,290.915,20z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes4" [@shapeAnimateGr6]="showShapes4 ? 'open' : 'closed'" class="shape-initial-position pos-6" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh08" fill-rule="evenodd" clip-rule="evenodd" fill="#D3B196"
                  d="M617.555,40c-0.939-1.548-2.016-3.311-3.12-4.8
                  c-1.274-1.717-3.526-2.817-5.28-4.08c-4.401-3.17-8.86-6.876-14.16-9.12c-3.518-1.49-7.439-1.395-11.52-2.4
                  c-7.253-1.787-15.739-2.55-24.48-2.4c-1.52,0.24-3.041,0.48-4.56,0.72c-3.363,0.995-6.857,1.808-10.08,3.12
                  c-3.226,1.313-7.36,2.461-10.32,4.32c-1.795,1.127-3.517,3.582-4.8,5.28c-3.366,4.456-8.488,7.953-10.8,13.44
                  c-4.5,10.679-5.97,29.212-1.2,40.56c2.065,4.914,6.561,8.852,9.6,12.96c2.691,3.638,5.801,8.082,9.6,10.56
                  c3.997,2.608,10.305,2.105,15.6,3.36c11.281,2.674,25.142,3.073,36,0.24c3.282-0.856,6.246-0.936,9.12-2.16
                  c2.72-1.159,4.725-4.245,6.72-6.24c1.476-1.476,3.334-2.863,4.56-4.56c2.373-3.285,3.587-7.645,5.28-11.52
                  c2.713-6.209,5.753-11.781,7.44-19.2c0.08-2.16,0.16-4.32,0.24-6.48
                  C623.173,53.404,620.364,44.631,617.555,40z M564.515,56.8
                  c-0.945,2.811-3.247,4.213-5.76,5.52c-1.401,0.729-4.034,1.868-6.72,1.2c-6.399-1.591-9.023-9.325-4.8-15.12
                  c1.691-2.321,4.867-2.062,7.2-3.6c6.531-0.145,8.778,3.047,10.08,8.16
                  C564.77,53.959,564.897,55.662,564.515,56.8z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes5" [@shapeAnimateGr6]="showShapes5 ? 'open' : 'closed'" class="shape-initial-position pos-6" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh05" fill-rule="evenodd" clip-rule="evenodd" fill="#53716C"
                  d="M635.555,20c7.88-0.145,15.937,7.554,13.2,16.56
                  c-1.541,5.069-5.459,10.234-10.8,11.52c-2.795,0.673-5.545-0.993-6.96-1.92c-4.784-3.136-8.257-8.664-5.76-16.32
                  c1.003-3.076,2.986-6.346,5.52-7.92C632.177,21.037,634.15,20.961,635.555,20z"/>
          </svg>
        </div>
        <div [hidden]="!showShapes6" [@shapeAnimateGr6]="showShapes6 ? 'open' : 'closed'" class="shape-initial-position pos-6" >
          <svg version="1.1" id="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="679.117px" height="200px" viewBox="0 0 679.117 200" enable-background="new 0 0 679.117 200"
               xml:space="preserve">
            <path id="sh01" fill-rule="evenodd" clip-rule="evenodd" fill="#DDE3DC"
                  d="M348.648,20c6.877-0.106,15.251-0.893,21.36,0.48
                  c2.4,0.16,4.8,0.32,7.2,0.48c3.242,0.859,5.612,2.764,8.16,4.32c3.258,1.99,6.69,3.597,9.84,5.52
                  c7.571,4.623,15.816,8.003,22.8,13.2c3.208,2.387,5.769,6.607,8.16,9.84c4.422,5.979,9.681,11.61,13.92,17.76
                  c0.603,0.874,0.611,1.953,1.2,2.88c1.447,2.276,3.687,4.314,5.28,6.48c2.305,3.134,4.395,6.256,6.72,9.36
                  c1.218,1.625,2.976,3.021,4.08,4.8c2.796,4.506,3.731,9.585,5.52,15.12c3.71,11.481,10.769,33.411-0.48,41.76
                  c-4.263,3.164-9.32,5.118-13.92,7.92c-2.323,1.416-6.752,4.304-9.36,5.04c-6.639,0.72-13.281,1.44-19.92,2.16
                  c-1.729,0.374-8.704,1.407-10.56,0.96c-5.333-1.286-10.537-2.912-15.6-4.56c-5.307-1.728-10.234-2.893-15.36-4.56
                  c-2.64-0.64-5.28-1.28-7.92-1.92c-1.09-0.463-1.973-1.522-2.88-2.16c-3.474-2.443-6.928-4.81-10.32-7.2
                  c-6.916-4.874-13.741-9.541-20.64-14.4c-3.11-2.191-6.041-4.981-9.12-7.2c-4.029-2.904-10.583-7.208-13.44-11.04
                  c-5.941-7.968-9.233-17.251-12.48-28.08c-1.737-5.792-3.61-16.185-1.44-23.28c3.632-11.878,13.711-27.279,23.28-33.12
                  c2.099-1.281,4.434-1.876,6.72-2.88c4.1-1.8,8.48-4.009,12.72-5.76
                  C343.912,21.2,347.17,20.972,348.648,20z"/>
          </svg>
        </div>

    </div>

  </div>
</div>


<router-outlet></router-outlet>
