
.container,
.container-fluid {
  margin: 20px auto;
}

// Medium devices (tablets, up to 992px)
@media (max-width: 992px) {
  h3 {
    font-size: 1.2rem;
  }
  .jumbotron, .lead {
    font-size: 0.9rem;
  }
  .btn-lang, .save-btn, .save-pdf-btn, .nav-links, p {
    font-size: 0.8rem;
  }
  .congrats-div {
    padding: 70px 10px !important;
    min-height: 500px !important;
  }
}

// Small devices (landscape phones, up to 576px)
@media (max-width: 576px) {
  .container {
    //max-width: 100%;
  }
  h3 {
    font-size: 1.2rem;
  }
  .col-10 {
    max-width: unset;
    min-width: 100%;
    padding: 0;
    flex: 0;
  }
  .jumbotron, .lead {
    font-size: 1rem;
  }
  .btn-lang, .save-btn, .save-pdf-btn {
    font-size: 0.8rem;
  }
  .next-btn {
    right: 0 !important;
  }
  .dropdown-menu {
    min-width: 3rem;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  }
  .dropdown-item {
    font-size: 0.8rem;
    padding: 0;
  }
  .congrats-div {
    padding: 10px !important;
    min-height: 400px !important;
  }
}


.content {
  padding: 2rem;
  margin-bottom: 1rem;
}

.btn-lang {
  background-color: #a38b73;
  border-color: #a38b73;
}

.trash-btn {
  color: #6F3625;
}

.eraser-btn, .nav-links {
  color: #173E36;
}

.next-btn {
  position: absolute;
  right: 20px;
}

.link-hover:hover, .highlight {
  color: #a38b73;
}

.no-display {
  opacity: 0;
}

.color-picker-wrapper {
  position: absolute;
  top:2.7rem;
  left: -0.5rem;
  padding: 10px;
  align-items: center;
  background: rgba(223, 223, 223, 0.4);
  border-radius: 5px;
}

.color-picker-btn {
  height: 23px;
  width: 23px;
  border: 2px solid black;
  border-radius: 6px;
}

.color-picker-btn:hover {
  border-color: #a38b73;
}

.canvas-wrapper {
  width: 80%;
  margin: 1rem auto;
}

[class*="myBG-"] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #a38b73;
  border-radius: 3px;
}

.myBG-cover-en { background-image: url(/assets/en_workbook_jpegs/cover.jpg); }
.myBG-cover-ar { background-image: url(/assets/ar_workbook_jpegs/cover.jpg); }

.myBG-p1-en { background-image: url(/assets/en_workbook_jpegs/p1.jpg); cursor: crosshair; }
.myBG-p1-ar { background-image: url(/assets/ar_workbook_jpegs/p1.jpg); cursor: crosshair; }

.myBG-p2-en { background-image: url(/assets/en_workbook_jpegs/p2.jpg); cursor: crosshair; }
.myBG-p2-ar { background-image: url(/assets/ar_workbook_jpegs/p2.jpg); cursor: crosshair; }

.myBG-p3-en { background-image: url(/assets/en_workbook_jpegs/p3.jpg); cursor: crosshair; }
.myBG-p3-ar { background-image: url(/assets/ar_workbook_jpegs/p3.jpg); cursor: crosshair; }

.myBG-p4-en { background-image: url(/assets/en_workbook_jpegs/p4.jpg); cursor: crosshair; }
.myBG-p4-ar { background-image: url(/assets/ar_workbook_jpegs/p4.jpg); cursor: crosshair; }

.congrats-div {
  margin: 0 auto;
  padding: 150px 20px;
  background-color: #fffffff0;
  border: 1px solid #a38b73;
  border-radius: 3px;
  min-height: 900px;
}

h3 {
  font-weight: 300;
  line-height: 1.2;
  color: #5f5f5f;
}

.jumbotron {
  background: none;
  padding: 0.7rem 2rem;
  margin-bottom: 1rem;
}

.save-btn {
  background-color: #c08f69;
  border-color: #c08f69;
  color: #fffff0;
}

.save-pdf-btn {
  background-color: #a38b73;
  border-color: #a38b73;
  color: #fffff0;
}

.save-btn:hover, .save-pdf-btn:hover, .btn-lang:hover {
  background-color: #453432;
  border-color: #453432;
}

.shape-initial-position {
  position: absolute;
  top: 0;
}
.pos-1 {
  left: 5%;
}
.pos-2 {
  left: 15%;
}
.pos-3 {
  left: 25%;
}
.pos-4 {
  left: 35%;
}
.pos-5 {
  left: 45%;
}
.pos-6 {
  left: 55%;
}
