/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: AvenirLTStd-Medium;
  src: url("assets/fonts/AvenirLTStd-Medium.otf") format("opentype");
}

body {
  background: none;
  font-family: AvenirLTStd-Medium, sans-serif;
}
